.statsCard{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
}

.statsContainer{
    display: flex;
    gap: 30px;
}

#stcd3{
    display: flex;
}

.stats{
    display: flex;
    gap: 20px;
}